<b>Bagpipe Spikes</b>
<br />
============
<%= flash[:notice] %>
<br />
Find the congressman/women's name, party affiliation, and office phone number.
<br />
For example, if I enter 10022, I should get back "Carolyn B. Maloney", "Democrat", (202) 225-7944
<br />
--------------------------------------------------------------------------------------------
<br />
Call a user on his phone number.
<a href="/call">Call user</a>
<br />
--------------------------------------------------------------------------------------------

